@model CarDealership.UI.Models.VehicleAdminViewModel

@{
    ViewBag.Title = "Add Vehicle";
}

<h2>Add Vehicle</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.MakeId, "Make", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.MakeId, new SelectList(Model.Make, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MakeId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xs-12 col-md-4">
        <label class="control-label" for="ModelId">Model</label>
        <select class="form-control" data-val="true" data-val-number="The field ModelId must be a number." data-val-required="The Model field is required." id="ModelId" name="ModelId"></select>
        <span class="field-validation-valid text-danger" data-valmsg-for="ModelId" data-valmsg-replace="true"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.IsUsed, "Condition", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.IsUsed, new SelectList(Model.Condition, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IsUsed, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.BodyStyleId, "Body Style", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.BodyStyleId, new SelectList(Model.BodyStyle, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BodyStyleId, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.Year, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Year, new { @class = "form-control", @Value = "" })
        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.IsAutomatic, "Transmission", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.IsAutomatic, new SelectList(Model.Transmission, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IsAutomatic, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.ExteriorColorId, "Color", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ExteriorColorId, new SelectList(Model.ExteriorColor, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ExteriorColorId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.InteriorColorId, "Interior", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.InteriorColorId, new SelectList(Model.InteriorColor, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.InteriorColorId, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.Mileage, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control", @Value = "" })
        @Html.ValidationMessageFor(m => m.Mileage, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.VIN, "VIN #", htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.VIN, new { @class = "form-control", @Value = "" })
        @Html.ValidationMessageFor(m => m.VIN, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.MSRP, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MSRP, new { @class = "form-control", @Value = "" })
        @Html.ValidationMessageFor(m => m.MSRP, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-xs-12 col-md-4">
        @Html.LabelFor(m => m.SalePrice, "Sale Price", htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.SalePrice, new { @class = "form-control", @Value = "" })
        @Html.ValidationMessageFor(m => m.SalePrice, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-md-8">
        @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-8 col-md-4">
        <div class="form-group">
            <label>Picture</label>
            <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
        </div>
    </div>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-custom btn-lg" />
    @Html.ActionLink("Cancel", "Vehicles", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-lg" })
</div>

@section Scripts
{
    @if (Request.IsAuthenticated)
    {
        <script>
            var userId = '@ViewBag.UserId'; // used later in API call?

            $(document).ready(function () {
                // listen for make change event

                @*@Model.Make = getMakes();*@
            });

            function getMakes() {
                $.ajax({
                    type: 'GET',
                    dataType: "json",
                    url:'http://localhost:59373/api/makes/',
                    success: function(data) {
                        window.alert("Success!");
                        console.log(data);
                    },
                    error: function() {
                        $('#statusMessage').removeClass('bg-success').addClass('bg-danger').text('Could not retrieve vehicle makes.');
                    }
                });
            }
        </script>
    }
}
