@model CarDealership.UI.Models.VehicleAdminViewModel

@{
    ViewBag.Title = "Add Vehicle";
}

<h2>Add Vehicle</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="form-group col-xs-12 col-md-6">
        @Html.LabelFor(m => m.Makes, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.Makes, Model.Makes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Makes, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-custom" />
    @Html.ActionLink("Cancel", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
</div>

@section Scripts
{
    @if (Request.IsAuthenticated)
    {
        <script>
            var userId = '@ViewBag.UserId'; // used later in API call?

            $(document).ready(function () {
                @Model.Makes = getMakes();
            });

            function getMakes() {
                $.ajax({
                    type:'GET',
                    url:'http://localhost:59373/api/makes/',
                    success: function(response) {
                        if(response == true) {
                            window.alert("Success!")
                        }
                    },
                    error: function() {
                        $('#statusMessage').removeClass('bg-success').addClass('bg-danger').text('Could not retrieve vehicle makes.');
                    }
                });
            }
        </script>
    }
}
