@model CarDealership.Models.Queries.VehicleDetail

@{
    ViewBag.Title = "Vehicle Details";
}

<h2>Vehicle Details</h2>

<div class="panel panel-darkslategray">
    <div class="panel-heading">@Model.Year  @Model.Make  @Model.Model</div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img class="detail-img" src="@Url.Content("~/Images/Vehicles/" + Model.Image)" />
        </div>
        <div class="col-xs-12 col-md-3">
            <p class='padding-top-left-1em'><span class='strong'>Body Style: </span>@Model.BodyStyle</p>
            <p class='padding-top-left-1em'><span class='strong'>Trans: </span>
                @if (Model.IsAutomatic)
                {
                    <text>Automatic</text>
                }
                else
                {
                    <text>Manual</text>
                }
            </p>
            <p class='padding-top-left-1em'><span class='strong'>Color: </span>@Model.ExteriorColor</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <p class='padding-top-left-1em'><span class='strong'>Interior: </span>@Model.InteriorColor</p>
            <p class='padding-top-left-1em'><span class='strong'>Mileage: </span>
                @if (Model.Mileage > 1000m)
                {
                    @Model.Mileage
                }
                else
                {
                    <text>New</text>
                }
            </p>
            <p class='padding-top-left-1em'><span class='strong'>VIN #: </span>@Model.VIN</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <p class='padding-top-left-1em'><span class='strong'>Sale Price: </span>@Model.SalePrice.ToString("C")</p>
            <p class='padding-top-left-1em'><span class='strong'>MSRP: </span>@Model.MSRP.ToString("C")</p>
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs col-md-3"></div>
        <div class="col-xs-12 col-md-9">
            <p><span class='strong'>Description: </span>@Model.Description</p>
        </div>
        <div class="col-xs-12">
            <p>
                @if (!Request.IsAuthenticated)
                {
                    if (Model.SaleId == null)
                    {
                        <a href="@Url.Action("Contact", "Home", new { VIN = Model.VIN })" id="contact-us-btn" class="btn btn-custom btn-large pull-right">Contact Us</a>
                    }
                    else
                    {
                        <div class="col-md-4 alert alert-warning pull-right">
                            <strong>Unavailable -- Sold</strong>
                        </div>
                    }
                }
            </p>
        </div>
    </div>
</div>