@model CarDealership.Models.Queries.VehicleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Vehicle Details</h2>

<div class="panel panel-darkslategray">
    <div class="panel-heading">@Model.Year  @Model.Make  @Model.Model</div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img class="featured-img" src="@Url.Content("~/Images/Vehicles/" + Model.Image)" />
        </div>
        <div class="col-xs-12 col-md-3">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="strong">Body Style:</td>
                        <td>@Model.BodyStyle</td>
                    </tr>
                    <tr>
                        <td class="strong">Trans:</td>
                        <td>
                            @if (Model.IsAutomatic)
                            {
                                <text>Automatic</text>
                            }
                            else
                            {
                                <text>Manual</text>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="strong">Color:</td>
                        <td>@Model.ExteriorColor</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-3">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="strong">Interior:</td>
                        <td>@Model.InteriorColor</td>
                    </tr>
                    <tr>
                        <td class="strong">Mileage:</td>
                        <td>
                            @if (Model.Mileage > 1000m)
                            {
                                @Model.Mileage
                            }
                            else
                            {
                                <text>New</text>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="strong">VIN:</td>
                        <td>@Model.VIN</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-3">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="strong">Sale Price:</td>
                        <td>@Model.SalePrice</td>
                    </tr>
                    <tr>
                        <td class="strong">MSRP:</td>
                        <td>@Model.MSRP</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs col-md-3"></div>
        <div class="col-xs-12 col-md-9">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="strong">Description:</td>
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                @if (!Request.IsAuthenticated)
                {
                    <a href="@Url.Action("Contact", "Home", new { VIN = Model.VIN })" id="contact-us-btn" class="btn btn-custom btn-large pull-right">Contact Us</a>
                }
            </p>
            <p class="status-message">

            </p>
        </div>
    </div>
</div>