@model CarDealership.UI.Models.InventoryReportViewModel
@{
    ViewBag.Title = "Inventory Report";
}

<h2>Inventory Report</h2>

<div class="row">
    <h4>New Vehicles</h4>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>
        </thead>
        @foreach (var row in Model.NewInventory)
        {
            <tr>
                <td>@row.Year</td>
                <td>@row.Make</td>
                <td>@row.Model</td>
                <td>@row.Count</td>
                <td>@row.StockValue</td>
            </tr>
        }
    </table>
</div>

<div class="row">
    <h4>Used Vehicles</h4>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>
        </thead>
        @foreach (var row in Model.UsedInventory)
        {
            <tr>
                <td>@row.Year</td>
                <td>@row.Make</td>
                <td>@row.Model</td>
                <td>@row.Count</td>
                <td>@row.StockValue</td>
            </tr>
        }
    </table>
</div>